<div class="row">
    <div class="col-md-3 col-xs-3 col-lg-3"></div>
    <div class="col-md-6 col-xs-6 col-lg-6">
      <h2 class="title">Gestion Banque</h2>
      <div class="blocPrincipal">
          <form method="post">
              <div class="form-group filed-input">
                <input type="date" name="dateDepot" class="input-generique">
              </div>
              <div class="form-group filed-input">
                <input type="text" name="argentDepot" class="input-generique" placeholder=" Montant de l'argent deposé">
              </div>
              <div class="form-group filed-input">
                <input type="text" name="soldeAnterieur" class="input-generique" placeholder=" Solde anterieur">
              </div>
              <div class="form-group filed-input">
                <input type="text" name="numeroTicketDepot" class="input-generique" placeholder=" Numero ticket de depôt">
              </div>
              <div class="form-row filed-input total">
                  <div class="col">
                    <label>Total</label>
                  </div>
                  <div class="col">
                    <span>Mettre le ngModel</span>
                  </div>
              </div>
              <div class="form-row filed-input">
                <div class="col">
                  <button type="button" class="btn btn-large btn-successe" data-toggle="modal" data-target="popin">Valider</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-large btn-warningue">Annuler</button>
                </div>
              </div>
          </form>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 col-lg-3"></div>
</div>

<!-- Modal -->
<app-popin-confirmation></app-popin-confirmation>
