<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-12 col-md-6 col-sm-12 col-lg-6 col-xl-6 bloc-contenu">
      <h2 class="title">Gestion Banque</h2>
      <div class="blocPrincipal">
          <form method="post" class="form-horizontal filed-input">
              <div class="form-group">
                  <label class="label-generique aligntextright control-label col-5 col-md-5 col-sm-5 col-lg-5 col-xl-5" for="produit">Produit: </label>
                  <select class="col-7 col-md-7 col-sm-7 col-lg-7 col-xl-7" name="libelle" id="produit" style="height: 32px;" (change)="onChange($event.target.value)">
                    <option value="" selected>Choisir le produit</option>
                    <option *ngFor="let produit of this.sharedService._prduitAll" value="{{produit.libelleEnum}}">{{produit.libelle}} - {{produit.type}}</option>
                  </select>
              </div>
              <div class="form-group" *ngIf="this.venduInBanque.length > 0">
                <div class="form-group">
                  <label class="label-generique aligntextright control-label col-5 col-md-5 col-sm-5 col-lg-5 col-xl-5" for="semainevente">Semaine de vente: </label>
                  <select class="col-7 col-md-7 col-sm-7 col-lg-7 col-xl-7" name="semaineVente" id="semainevente" style="height: 32px;" (change)="addBanque($event.target.value)">
                    <option value="" selected>Choisir la semaine de vente</option>
                    <option *ngFor="let venduinbanque of this.venduInBanque" value="{{venduinbanque.id}}">{{venduinbanque.debutSemaine | date: 'yyyy-MM-dd'}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="label-generique aligntextright control-label col-5 col-md-5 col-sm-5 col-lg-5 col-xl-5" for="dateoperation">Date Operation: </label>
                  <input type="date" name="dateOperation" class="col-7 col-md-7 col-sm-7 col-lg-7 col-xl-7" id="dateoperation" [(ngModel)]="this.banque.dateOperation">
                </div>
                <div class="form-group">
                    <label class="label-generique aligntextright control-label col-5 col-md-5 col-sm-5 col-lg-5 col-xl-5" for="totalvente">Total vente: </label>
                    <input [disabled]="true" type="text" name="totalVente" class="col-7 col-md-7 col-sm-7 col-lg-7 col-xl-7" id="totalvente" [(ngModel)]="this.venteSemaine.totalVente">
                </div>
                <div class="form-group">
                  <label class="label-generique aligntextright control-label col-5 col-md-5 col-sm-5 col-lg-5 col-xl-5" for="somme">Somme deposé: </label>
                  <input type="text" name="somme" class="col-7 col-md-7 col-sm-7 col-lg-7 col-xl-7" id="somme" [(ngModel)]="this.banque.somme">
                </div>
                <div class="form-group">
                  <label class="label-generique aligntextright control-label col-5 col-md-5 col-sm-5 col-lg-5 col-xl-5" for="numeroTicketDepot">Numero ticket de depôt: </label>
                  <input type="text" name="numeroTicket" class="col-7 col-md-7 col-sm-7 col-lg-7 col-xl-7" id="numeroTicketDepot" [(ngModel)]="this.banque.numeroTicket">
                </div>
                <div class="form-row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <button type="button" class="btn btn-successe" (click)="openPopin()">Valider</button>
                    </div>
                </div>
            </div>
          </form>
      </div>
      <!-- Alert reponse -->
      <div class="alert alert-success" role="alert" style="display:none;">
          <strong style="margin-left:25%">Le depot a été ajouté avec succès</strong>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="popin" role="dialog" tableindex="-1" aria-labelledby="popinModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="contenu">
            <strong>Voulez-vous sauvegarder cette vente de la semaine ?</strong>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-large" (click)="valider()">Oui</button>
          <button type="button" class="btn btn-primary btn-large" data-dismiss="modal" aria-label="close">Non</button>
        </div>
      </div>
    </div>
  </div>

