<div class="row header-content">
  <div class="col-md-4 col-lg-4 col-xl-4"></div>
  <div class="bloc-contenu col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4">
      <div class="title">
          <h2>Authentification</h2>
      </div>
      <div class="blocPrincipal">
        <form method="post">
            <div class="form-group">
                <label for="email" class="label-generique">Email:</label>
                <input class="form-control" type="text" [(ngModel)]='user.email' id="email" name='email'>
            </div>
            <div class="form-group">
                <label for="password" class="label-generique">Mot de mot passe:</label>
                <input class="form-control" type="password" [(ngModel)]='user.password' name='password' id="password">
                <label *ngIf="this.erreurConnexion !== null" class="error">Email ou Mot de passe incorrect</label>
            </div>
            <div class="form-row">
                <button class="btn btn-primere"  (click)='logger()' >Connexion</button>
            </div>
        </form>
      </div>
  </div>
  <div class="col-md-4 col-lg-4 col-xl-4"></div>
</div>


