<div class="row">
  <div class="col-md-4 col-xs-4 col-lg-4"></div>
  <div class="col-md-4 col-xs-4 col-lg-4">
    <h4 class="title">Menu Principal: </h4>
    <div class="blocPrincipal">
        <div class="bilanCompte">
            <button type="button" class="btn btn-large btn-primary" (click)="navigation('bilan')">Bilan Compte</button>
        </div>
        <div class="banque">
            <button type="button" class="btn btn-large btn-primary" (click)="navigation('banque')">Banque</button>
        </div>
        <div class="depot">
            <button type="button" class="btn btn-large btn-primary" (click)="navigation('marchandise')">Marchandise</button>
        </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-4 col-lg-4"></div>
</div>
