<div class="row content-home">
  <div class="col-md-4 col-lg-4 col-xl-4"></div>
  <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4 bloc-contenu">
    <h2 class="title">Menu Principal </h2>
    <div class="blocPrincipal">
        <div class="bilanCompte">
            <button type="button" class="btn btn-large btn-primere" (click)="navigation('bilan')">Bilan Compte</button>
        </div>
        <div class="banque">
            <button type="button" class="btn btn-large btn-primere" (click)="navigation('banque')">Banque</button>
        </div>
        <div class="depot">
            <button type="button" class="btn btn-large btn-primere" (click)="navigation('marchandise')">Marchandise</button>
        </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-xl-4"></div>
</div>
