/* You can add global styles to this file, and also import other style files */
.bloc-contenu{
    border: 1px solid #80808029;
    padding: 26px 30px 27px 30px
}
.modal label{
    margin-left: 10%;
}
.modal-title{
    margin: 0 auto;
    color: blue;
}
.contents {
    margin-top: 8rem;
}
.btn-warningue, .btn-primere, .btn-successe{
    color: #fff;
}
.btn-primere{
    background-color: #0c529e;
}
.btn-successe{
    background-color: #0c9e58;
}
.btn-warningue{
    background-color: #9e580c
}
h1, h2{
    text-align: center !important;
}
.total label, .total span{
    font-weight: bold;
    margin-bottom: 1.4rem;
}
.position-right{
    float: right;
}
.filed-input input{
    width:100%;
    padding-left: 5px;
}
.btn_left{
    float:right;
}
.blocPrincipal button{
    width: 100%;
    margin-bottom:15px;
    font-size: 18px;
}
.blocPrincipal{
    margin-top:10px;
}
.title{
    margin-bottom: 1em;
    color: #0c529e;
}
.input-field-bc input{
    width: 11.70em;
}
.input-field-bc th{
    text-align: center;
}
@media (min-width: 993px){
}
@media (min-width: 769px) and (max-width: 992px){
}
@media (min-width: 577px) and (max-width: 768px){
}
@media (max-width: 576px){
    h2{
        font-size: 1.6rem !important;
    }
    .total label, .total span{
        font-size: 1.3rem;
        color: #9e0c52;
    }
}