/* You can add global styles to this file, and also import other style files */
h1{
    text-align: center;
}
.position-right{
    float: right;
}
.line_bolc{
    margin-top:5px;
}
.filed-input input{
    width:100%;
}
.btn_left{
    float:right;
}
