.modal-body table{
    width: 100%;
}
.modal-body{
    text-align: center;
}
.modal-body label{
    font-family: arial;
    font-weight: 550;
}
.modal-body table .libeller{
    text-align: center;
}
.input-field{
    margin-bottom: 5px;
    width: 95%;
    margin-right: 5rem;
    padding-left: 2px;
}
.input-field-bc{
    width: 100%;
}
.tableBody tr td{
    text-align:center;
}
.btn-pencil-reomve{
    display: none;
}
.btn-check-close{
    display:none;
}
.pencil{
    margin-left: 10px;
}
.bilan-select{
    padding-top: 4px;
    padding-bottom: 5px;
}