<div class="row">
  <div class="col-lg-1 col-md-1 col-xl-1"></div>
  <div class="col-12 col-md-10  col-sm-12 col-lg-10 col-xl-10">
    <h2 class="title">Bilan du compte de la semaine</h2>
    <div class="blocPrincipal">
      <form method="post">
        <div class="form-row filed-input">
          <div class="col">
              <button class="btn btn-primere" (click)="openPopin()">Ajouter</button>
          </div>
          <div class="col">
              <button [disabled]="isActif" [ngClass]="getClass()" data-toggle="modal" data-target="#popin">Valider</button>
          </div>
        </div>
        <div class="form-row">
          <table class="table table-striped input-field-bc">
            <thead *ngIf="isAffiche">
              <tr>
                <th>Action</th>
                <th>Date</th>
                <th>Quantite</th>
                <th>Prix unitaire</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody class="tableBody"></tbody>
          </table>
        </div>
      </form>
    </div>
    <!-- Alert reponse -->
    <div class="alert alert-success" role="alert" style="display:none;">
        <strong style="margin-left:25%">Le bilan a éte ajouté</strong>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-xl-1"></div>
</div>

<!-- Modal ajout vente -->
<div class="modal fade" id="popinAjout" role="dialog" tableindex="-1" aria-labelledby="popinModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un nouveau bilan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class=" row modal-body">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <table>
              <tr>
                  <td class="libeller">Date vente* :</td>
                  <td><input type="Date" name="dateVente" class="input-field dateVente"></td>
              </tr>
              <tr>
                  <td class="libeller">Quantite* : </td>
                  <td><input type="text" name="quantite" class="input-field quantite"></td>
              </tr>
              <tr>
                  <td class="libeller">Prix unitaire* :</td>
                  <td><input type="text" name="prixUnitaire" class="input-field prxUnitaire"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-large" data-dismiss="modal" aria-label="close">Annuler</button>
          <button type="button" class="btn btn-success btn-large" (click)="add()">Valider</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Confirmation -->
<div class="modal fade" id="popin" role="dialog" tableindex="-1" aria-labelledby="popinModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="contenu">
            <label>Voulez-vous sauvegarder vos données ?</label>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-large" (click)="valider()">Oui</button>
            <button type="button" class="btn btn-primary btn-large" data-dismiss="modal" aria-label="close">Non</button>
        </div>
      </div>
    </div>
  </div>