<div class="row">
  <div class="col-lg-1 col-xs-1 col-md-1"></div>
  <div class="col-md-10 col-xs-10 col-lg-10">
    <h2 class="title">Bilan du compte de la semaine</h2>
    <div class="blocPrincipal">
      <form method="post">
        <div class="form-row filed-input">
          <div class="col">
              <button class="btn btn-primere" (click)="ajoutLigne()">Ajouter</button>
          </div>
          <div class="col">
              <button [disabled]="isActif" [ngClass]="getClass()" (click)="validation()">Valider</button>
          </div>
        </div>
        <div class="form-row">
          <table class="table table-responsive table-striped input-field-bc">
            <thead *ngIf="isAffiche">
              <tr>
                <th>Action</th>
                <th>Date</th>
                <th>Quantite</th>
                <th>Prix unitaire</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody class="tableBody"></tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-1 col-xs-1 col-md-1"></div>
</div>