<div class="row">
  <div class="col-md-4 col-lg-4 col-xl-4"></div>
  <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/produit/ajoutProduit" routerLinkActive="active">Ajout produit</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4 col-lg-4 col-xl-4"></div>
</div>
<div class="row" style="margin-top: 7px;">
    <div class="col-md-4 col-lg-4 col-xl-4"></div>
    <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4 bloc-contenu">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4"></div>
</div>